<div class="row">

    <div class="col">
        <!-- El ngIf sirve para ocultar o mostrar contenido -->
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{frase.autor}}</div>
            <div class="card-body">
                <h5 class="card-title">Frase</h5>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>
        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary btn-block">
            Mostrar/Ocultar
        </button>
    </div>

    <div class="col">
        <!-- El ngFor sirve para mostrar listas de datos -->
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{i + 1}}-{{personaje}}</li>
        </ul>
    </div>

</div>